#content h2{margin-bottom: 20px;}
#content h4{margin-bottom: 20px;}
#content ol{list-style: decimal;}
.title_area .subtitle{text-align: center; margin-bottom: 70px;}

.pop_gallery ul{overflow: hidden; margin-left: 60px; margin-bottom: 50px;}
.pop_gallery li{float: left;  margin:20px 50px 20px 10px;}
.pop_gallery i{font-size: 50px;}
.pop_gallery .openBtn h3{font-size: 20px; font-weight: 400;}
.pop_gallery .openBtn{
    display: block;
    width: 500px;
    height: 150px;
    box-shadow: 3px 3px 10px 3px rgb(204, 204, 204);
    text-align: center;
    padding-top: 50px;
    transition: all .5s;
}
.pop_gallery .openBtn:hover{color: #fff; background-image: conic-gradient(from 45deg, #a0bfdc 0% ,#beddfa 100%); box-shadow: none;}

.pop_gallery .bg_box{
    z-index: 75;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    position: fixed;
    left: 0;
    top: 0;
    display: none;
}

.pop_gallery .open_popup{
    width: 1000px;
    background: #fff;
    position: fixed;
    padding: 10px;
    left: 50%;
    top:50%;
    margin-left: -500px;
    margin-top: -220px;
    overflow: hidden;
    display: none;
    z-index: 100;
}

.pop_gallery p{
    text-align: justify;
    padding: 10px; 
}

.pop_gallery .open_popup .closeBtn{
    display: block;
    text-align: center;
}